body {
  background-image: url('louise.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cell{
  color:white;
    width: 250px;
    height: 200px;
    border: 5px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 115px;
    cursor: pointer;
  padding-top: 80px;
/*   padding-left: 10px; */
}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
    
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin
    
}
h1{
  color:white;
}
h2{
  color:white;
}
.yes {
  margin-top: 250px;
  justify-content: center;
}
